<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918458013291-8mpk6sjqngvno47epsvq5r26l9ldis6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918458013291-8mpk6sjqngvno47epsvq5r26l9ldis6k</string>
	<key>API_KEY</key>
	<string>AIzaSyBSU7jskADKS8j8Aj5pem10BztCmcmB7Wc</string>
	<key>GCM_SENDER_ID</key>
	<string>918458013291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stickershub</string>
	<key>PROJECT_ID</key>
	<string>stickerapp-b8dd7</string>
	<key>STORAGE_BUCKET</key>
	<string>stickerapp-b8dd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918458013291:ios:587cb9df6afe1e4388832e</string>
</dict>
</plist>